@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
html{
  font-size: 62.5%;
}
body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color:rgb(85, 161, 248);
  color: white;
}
header{
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo{
  font-size: 3rem;
  color: black;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}
.logo:hover{
  transform: scale(1.1);
}
nav a{
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
nav a:hover,
nav a.active{
  color: #000000;
  border-bottom: 3px solid #000000;
}
@media(max-width: 995px) and (min-width: 361px){
  nav{
      position: absolute;
      display: none;
      top: 0;
      right: 0;
      width: 40%;
      border-left: 3px solid #b74b4b;
      border-bottom: 3px solid #b74b4b;
      border-bottom-left-radius: 2rem;
      padding: 1rem solid;
      background-color:black;
      border-top: 0.1rem solid rgba(0,0,0,0.1);
  }
  nav.active{
      display: block;
  }
  nav a{
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
  }
  nav a:hover,
  nav a.active{
      padding: 1rem;
      border-radius: 0.5rem;
      border-bottom: 0.5rem solid #b74b4b;
  }
}
.home{
  align-items: center;
  font-size: small;
  padding: 100px 50px;
  
}
h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 50px;
}

.skills-area {
  display: flex;
  flex-direction: column;
  padding: 0 30%;
}

.skill {
  position: relative;
  margin-bottom: 40px;
}

.skill-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.skill-bar {
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  height: 40px;
  z-index: -1;
  border-radius: 100px;
  position: absolute;
}

.skill-fill {
  background: blue;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  overflow: hidden;
}

.skill-percent {
  font-size: 30px;
}

.html {
  animation: html 2s;
  width: 85%;
}

.css {
  animation: css 2s;
  width: 80%;
}

.js {
  animation: js 2s;
  width: 67%;
}
.php {
  animation: php 2s;
  width: 66%;
}
.java {
  animation: java 2s;
  width: 88%;
}
.c\+\+ {
  animation: c++ 2s;
  width: 79%;
}


@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}

@keyframes css {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes js {
  from {
    width: 0;
  }
  to {
    width: 67%;
  }
}
@keyframes php {
  from {
    width: 0;
  }
  to {
    width: 66%;
  }
}
@keyframes java {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}
@keyframes c\+\+ {
  from {
    width: 0;
  }
  to {
    width: 79%;
  }
}

@media only screen and (max-width: 750px) {
  .skills-area {
    padding: 0 5%;
  }
}
footer {
  background-color:rgb(85, 161, 248);
  color: #fff;
  text-align: center;
  padding: 20px 40px;
  margin-top: 50px;
}

footer p {
  margin: 0;
  font-size:2rem;
}


